@if (deviceService.isMobile()) {
  <app-login-mobile
    [isLoading]="isLoading()"
    [error]="errorMessage()"
    [isVerificationStep]="isVerificationStep()"
    (loginSubmit)="onLogin($event)"
    (registerSubmitted)="onRegister($event)"
    (verificationSubmitted)="onVerification($event)"
  />
  <!-- (emailSubmitted)="onResetPasswordCodeRequest($event)" -->
  <!-- (resetPasswordSubmitted)="onResetPasswordConfirm($event)"  -->
} @else {
  <app-login-web
    [isLoading]="isLoading()"
    [error]="errorMessage()"
    [isVerificationStep]="isVerificationStep()"
    (loginSubmit)="onLogin($event)"
    (registerSubmitted)="onRegister($event)"
    (verificationSubmitted)="onVerification($event)"
    (emailSubmitted)="onResetPasswordCodeRequest($event)"
    (resetPasswordSubmitted)="onResetPasswordConfirm($event)"
  />
}
